{{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) -}}
 <style type="text/css">
    .post-toc {
        position: fixed;
        width: 200px;
        margin-left: -210px;
        padding: 5px 0px;
        font-family: Athelas, STHeiti, Microsoft Yahei, serif;
        font-size: 20px;
        word-wrap: break-word;
        white-space: nowrap;
        z-index: 999;
        cursor: pointer;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .post-toc .post-toc-title {
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .post-toc .post-toc-content {
        font-size: 13px;
        /*box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);*/
        filter: drop-shadow(rgb(150, 150, 150) 0px 0px 6px) !important;
    }

    .post-toc .post-toc-content>nav>ul {
        margin: 10px 0;
        list-style: none;
        padding-inline-start: 1px !important;
    }

    .post-toc .post-toc-content ul {
        list-style: none;
        margin: 0.5em;
        line-height: 1.8em;
    }

    .post-toc .post-toc-content ul ul {
        padding-left: 15px;
        display: inherit;
    }

    .post-toc .post-toc-content>nav>ul>li{
        background-color: #fff;
        border-left: 5px solid #666;
        padding: 2px 5px 2px 5px;
    }

    .post-toc .post-toc-content ul li:hover{
/*        background-color: #666;*/
/*        border-left: 5px solid #111;*/
    }

    .post-toc .post-toc-content ul li a{
        display: inline-block;
        width: 100%;
    }

    .post-toc .post-toc-content ul li a:hover{
        background-color: #666;
        color: #fff;
    }

    @media print,
    screen and (max-width:1057px) {
        .post-toc {
            display: none;
        }
    }
</style>
<div class="post-toc" style="position: absolute; top: 153px;">
    <h2 class="post-toc-title">目录</h2>
    <div class="post-toc-content">
        {{.TableOfContents}}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var postToc = $(".post-toc");
        if (postToc.length) {
            var leftPos = $("#main").offset().left;
            if (leftPos < 220) {
                postToc.css({ "width": leftPos - 15, "margin-left": (0 - leftPos) })
            }

            var t = postToc.offset().top - 125,
                a = {
                    start: {
                        position: "absolute",
                        top: t
                    },
                    process: {
                        position: "fixed",
                        top: 125
                    },
                };

            var e = $(window).animate({scrollTop: 0}, 600);
            e < t ? postToc.css(a.start) : postToc.css(a.process);
        }

        if ($("#TableOfContents").children().length < 1) {
            $(".post-toc").remove();
        }
    })
</script>
{{- end }}
